# Generated #
#############
/talentclasses
/Core_Lib
/ciulib
/_ReSharper.CharImport
_ReSharper.CharImport/
/CharImport/xobj
/CharImport/bin/Release
/CharImport/bin/old
CharImport.suo
Thumbs.db
Errorlog.log
/CharImport/Resources/Thumbs.db
/CharImport/bin/Debug/Errorlog.log
*vshost
*suo
*log
*exe
*vsp
*psess
*db